# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# Build
.next/
out/
build/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.*
!.env.example

# Docs & misc
*.md
uı-desing/
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
